@model IEnumerable<PetShopJS.Models.Raca>

@{
    ViewBag.Title = "Raças";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container padding-top-70">

    <h2>Raças</h2>
    @Html.Partial("_PartialIndex")
    
</div>