@{
    ViewBag.Title = "Sobre";
}

<div class="container padding-top-70">

    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
    
</div>