@{
    ViewBag.Title = "Página Principal";
}

<div class="jumbotron">
    <h1>PetShopJS</h1>
    <p class="lead">Marshmallow fruitcake macaroon tootsie roll oat cake icing jujubes cookie chupa chups. Cupcake bear claw pie. Caramels sugar plum cake icing chocolate cake sesame snaps halvah jelly-o. Bonbon caramels cupcake.</p>
    <p><a href="http://www.cupcakeipsum.com" class="btn btn-primary btn-lg">Saiba Mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Começando</h2>
        <p>
            Once more. Say you are in the country; in some high land of lakes. Take almost any path you please, and ten to one it carries you down in a dale, and leaves you there by a pool in the stream. There is magic in it. Let the most absent-minded of men be plunged in his deepest reveries—stand that man on his legs, set his feet a-going, and he will infallibly lead you to water, if water there be in all that region. Should you ever be athirst in the great American desert, try this experiment, if your caravan happen to be supplied with a metaphysical professor. Yes, as every one knows, meditation and water are wedded for ever.
        </p>
        <p><a class="btn btn-default" href="http://www.fillerati.com/">Saiba Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Consiga Mais</h2>
        <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.</p>
        <p><a class="btn btn-default" href="http://slipsum.com/">Saiba Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Birl</h2>
        <p>Bora caralho, você quer ver essa porra velho. Eu quero esse 13 daqui a pouquinho aí. Sai de casa comi pra caralho porra. Sai filho da puta! Vo derrubar tudo essas árvore do parque ibirapuera. Aqui é bodybuilder porra!</p>
        <p><a class="btn btn-default" href="http://www.bodybuilderipsum.com.br/">Saiba Mais &raquo;</a></p>
    </div>

    <div class="row">
        <img src="/Home/Chart1" />
    </div>
</div>