@{
    ViewBag.Title = "Página Principal";
}

<div class="slider-wrap">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-saveperformance="on" data-title="Ken Burns Slide">
                    <!-- MAIN IMAGE -->
                    <img src="~/images/dummy.png" alt="2" data-lazyload="~/images/slider/1/2.jpg" data-bgposition="right top" data-kenburns="off" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">
                    <div class="tp-caption tentered_white_huge lft tp-resizeme" data-endspeed="300" data-easing="Power4.easeOut" data-start="400" data-speed="600" data-y="280" data-hoffset="0" data-x="center"
                         style="color: #fff;
                         text-transform: uppercase;
                         font-size: 40px;
                         letter-spacing: 6px;
                         font-family: Open Sans;
                         font-weight: 400;">
                        PetShop Jaraguá do Sul
                    </div>
                    <div class="tp-caption tentered_white_huge lfb tp-resizeme" data-endspeed="300" data-easing="Power4.easeOut" data-start="800" data-speed="600" data-y="350" data-hoffset="0" data-x="center"
                         style="color: #fff;
                         font-size: 13px;
                         text-transform: uppercase;
                         letter-spacing: 10px;">
                        pronto para uso por todos
                    </div>
                    <div style="float:left; margin-right:20px;">
                        <a href="https://www.google.com.br"
                           alt="PayPal – A forma mais fácil e segura de pagar online."
                           class="pull-left tp-caption lfb tp-resizeme rs-parallaxlevel-0"
                           data-x="380"
                           data-y="400"
                           data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                           data-speed="500"
                           data-start="1200"
                           data-easing="Power3.easeInOut"
                           data-splitin="none"
                           data-splitout="none"
                           data-elementdelay="0.1"
                           data-endelementdelay="0.1"
                           data-linktoslide="next"
                           style="z-index: 12; max-width: 100%; max-height: 100%; white-space: nowrap; padding:15px 28px;
							color: #fff;
							text-transform: uppercase;
							border: none;
							background:#000;
							font-size: 12px;
							letter-spacing: 3px;
							font-family: Montserrat;
							border-radius: 0px;
							display: table;
							transition: .4s;">Protótivo V2</a>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="business" value="petshopjds@gmail.com">
                            <input type="hidden" name="lc" value="IN">
                            <input type="hidden" name="item_name" value="PetShop">
                            <input type="hidden" name="amount" value="21.00">
                            <input type="hidden" name="currency_code" value="BRL">
                            <input type="hidden" name="button_subtype" value="services">
                            <input type="hidden" name="no_note" value="0">
                            <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynow_SM.gif:NonHostedGuest">
                            <button border="0" name="submit" alt="PayPal – A forma mais fácil e segura de pagar online." class="tp-caption lfb tp-resizeme rs-parallaxlevel-0 btn button btn-border btn-small"
                                    data-x="550"
                                    data-y="400"
                                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-speed="500"
                                    data-start="1200"
                                    data-easing="Power3.easeInOut"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-elementdelay="0.1"
                                    data-endelementdelay="0.1"
                                    data-linktoslide="next"
                                    style="z-index: 12;
                                            max-width: 100%;
                                            max-height: 100%;
                                            white-space: nowrap;
                                            padding: 15px 28px;
							                color: #fff;
							                text-transform: uppercase;
							                border: none;
							                background: #000;
							                font-size: 12px;
							                letter-spacing: 3px;
							                font-family: Montserrat;
							                border-radius: 0px;
							                display: table;
							                transition: .4s;">
                                <i class="icon-bag"></i>&nbsp; Pro Version
                            </button>
                        </form>
                    </div>
                </li>

                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-saveperformance="on" data-title="Ken Burns Slide">
                    <!-- MAIN IMAGE -->
                    <img src="~/images/dummy.png" alt="2" data-lazyload="~/images/slider/1/1.jpg" data-bgposition="right top" data-kenburns="off" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">
                    <div class="tp-caption tentered_white_huge lft tp-resizeme" data-endspeed="300" data-easing="Power4.easeOut" data-start="400" data-speed="600" data-y="280" data-hoffset="0" data-x="center"
                         style="color: #fff;
                         text-transform: uppercase;
                         font-size: 40px;
                         letter-spacing: 6px;
                         font-family: Montserrat;
                         font-weight: 400;">
                        JDS
                    </div>
                    <div class="tp-caption tentered_white_huge lfb tp-resizeme" data-endspeed="300" data-easing="Power4.easeOut" data-start="800" data-speed="600" data-y="350" data-hoffset="0" data-x="center"
                         style="color: #fff;
                         font-size: 13px;
                         text-transform: uppercase;
                         letter-spacing: 10px;">
                        PETSHOP
                    </div>

                    <a href="https://www.google.com.br" alt="PayPal – A forma mais fácil e segura de pagar online." class="pull-left tp-caption lfb tp-resizeme rs-parallaxlevel-0"
                       data-x="380"
                       data-y="400"
                       data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                       data-speed="500"
                       data-start="1200"
                       data-easing="Power3.easeInOut"
                       data-splitin="none"
                       data-splitout="none"
                       data-elementdelay="0.1"
                       data-endelementdelay="0.1"
                       data-linktoslide="next"
                       style="z-index: 12; max-width: 100%; max-height: 100%; white-space: nowrap; padding:15px 28px;
							color: #fff;
							text-transform: uppercase;
							border: none;
							background:#000;
							font-size: 12px;
							letter-spacing: 3px;
							font-family: Montserrat;
							border-radius: 0px;
							display: table;
							transition: .4s;">Protótivo V2.0</a>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_xclick">
                        <input type="hidden" name="business" value="petshopjds@gmail.com">
                        <input type="hidden" name="lc" value="IN">
                        <input type="hidden" name="item_name" value="PetShop">
                        <input type="hidden" name="amount" value="21.00">
                        <input type="hidden" name="currency_code" value="BRL">
                        <input type="hidden" name="button_subtype" value="services">
                        <input type="hidden" name="no_note" value="0">
                        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynow_SM.gif:NonHostedGuest">
                        <button border="0" name="submit" alt="PayPal – A forma mais fácil e segura de pagar online." class="tp-caption lfb tp-resizeme rs-parallaxlevel-0 btn button btn-border btn-small"
                                data-x="550"
                                data-y="400"
                                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="500"
                                data-start="1200"
                                data-easing="Power3.easeInOut"
                                data-splitin="none"
                                data-splitout="none"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                data-linktoslide="next"
                                style="z-index: 12; max-width: 100%; max-height: 100%; white-space: nowrap;padding:15px 28px;
							color: #fff;
							text-transform: uppercase;
							border: none;
							background:#000;
							font-size: 12px;
							letter-spacing: 3px;
							font-family: Montserrat;
							border-radius: 0px;
							display: table;
							transition: .4s;">
                            <i class="icon-bag"></i>&nbsp; Pro Version
                        </button>
                    </form>
                </li>
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
</div>