@{
    ViewBag.Title = "Página Principal";
}

<div class="slider-wrap">
    <div class="carousel">
        <div class="tp-banner-container owl-carousel-header owl-carousel owl-theme owl-loaded">
            <div class="tp-banner">
                <ul>
                    @foreach (var file in ViewBag.Files) {
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-saveperformance="on" data-title="Ken Burns Slide">
                            <!-- MAIN IMAGE -->
                            <img src="~/images/dummy.png" alt="2" data-lazyload=@file data-bgposition="center top" data-kenburns="off" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom" style="margin-top: -20px">
                            <div class="tp-caption tentered_white_huge lft tp-resizeme" data-endspeed="300" data-easing="Power4.easeOut" data-start="400" data-speed="600" data-y="280" data-hoffset="0" data-x="center"
                                 style="color: #fff;
                                      text-transform: uppercase;
                                      font-size: 40px;
                                      letter-spacing: 6px;
                                      font-family: Open Sans;
                                      font-weight: 400;">
                                PetShop Jaraguá do Sul
                            </div>
                            <div class="tp-caption tentered_white_huge lfb tp-resizeme" data-endspeed="300" data-easing="Power4.easeOut" data-start="800" data-speed="600" data-y="350" data-hoffset="0" data-x="center"
                                 style="color: #fff;
                                        font-size: 13px;
                                        text-transform: uppercase;
                                        letter-spacing: 10px;">
                                pronto para uso por todos
                            </div>
                        </li>
                    }
                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>
    </div>
</div>