@{
    ViewBag.Title = "Página Principal";
}

<div class="slider-wrap">
    <div class="carousel">
        <div class="tp-banner-container owl-carousel-header owl-carousel owl-theme owl-loaded">
            <div class="tp-banner">
                <ul>
                    @foreach (var file in ViewBag.Files) {
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-saveperformance="on" data-title="Ken Burns Slide">
                            <!-- MAIN IMAGE -->
                            <img src="~/images/dummy.png" alt="2" data-lazyload=@file data-bgposition="center top" data-kenburns="off" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom" style="margin-top: -20px">
                            <div class="tp-caption tentered_white_huge lft tp-resizeme" data-endspeed="300" data-easing="Power4.easeOut" data-start="400" data-speed="600" data-y="280" data-hoffset="0" data-x="center"
                                 style="color: #fff;
                                                                                                 text-transform: uppercase;
                                                                                                 font-size: 40px;
                                                                                                 letter-spacing: 6px;
                                                                                                 font-family: Open Sans;
                                                                                                 font-weight: 400;">
                                PetShop Jaraguá do Sul
                            </div>
                            <div class="tp-caption tentered_white_huge lfb tp-resizeme" data-endspeed="300" data-easing="Power4.easeOut" data-start="800" data-speed="600" data-y="350" data-hoffset="0" data-x="center"
                                 style="color: #fff;
                                                                                                font-size: 13px;
                                                                                                text-transform: uppercase;
                                                                                                letter-spacing: 10px;">
                                pronto para uso por todos
                            </div>
                        </li>
                    }
                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid no-padding">
    <div class="container padding80">
        <div class="col-md-8 col-md-offset-2 text-center space50" id="1">
            <!--/////////////////////////////////////////////////-->
            <h2 class="uppercase">O quê fazemos?</h2>
            <p>Lorem ipsum dolor sit amet, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p>
        </div>
        <div class="container">
            <div class="section-info ">

                <div class="col-md-6">
                    <!--/////////////////////////////////////////////////-->
                    <h4>Por quê nos escolher</h4>
                    <div class="space30"></div>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne1">
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                                        <span class="fa fa-plus"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Etiam cursus pellentesque neque, eget ullamcorper augue eleifend a. In sit amet pulvinar purus. Ut in nibh tortor. Nullam quis magna sed nunc facilisis blandit vel at erat. Donec blandit et nulla sed lacinia. Quisque ullamcorper tincidunt ante, ut feugiat felis consectetur ut.</p>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix space10"></div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo1">
                                        Curabitur et diam vitae dolor aliquet et in massa
                                        <span class="fa fa-plus"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Nam ullamcorper imperdiet luctus. Vestibulum tincidunt malesuada mi, in posuere augue cursus nec. Morbi et vehicula risus, fermentum lacinia justo. Etiam tellus arcu, eleifend tristique enim rutrum iaculis risus, id tincidunt dui fringilla sed bibendum lorem.</p>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix space10"></div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree1">
                                        Proin faucibus sem sed dapibus dapibus
                                        <span class="fa fa-plus"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Etiam cursus pellentesque neque, eget ullamcorper augue eleifend a. In sit amet pulvinar purus. Ut in nibh tortor. Nullam quis magna sed nunc facilisis blandit vel at erat. Donec blandit et nulla sed lacinia. Quisque ullamcorper tincidunt ante, ut feugiat felis consectetur ut.</p>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix space10"></div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour1">
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                                        <span class="fa fa-plus"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Etiam cursus pellentesque neque, eget ullamcorper augue eleifend a. In sit amet pulvinar purus. Ut in nibh tortor. Nullam quis magna sed nunc facilisis blandit vel at erat. Donec blandit et nulla sed lacinia. Quisque ullamcorper tincidunt ante, ut feugiat felis consectetur ut.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <!--/////////////////////////////////////////////////-->
                    <h4>Nossas habilidades</h4>
                    <div class="space30"></div>
                    <div id="skills">
                        <div class="b-progress-bar" data-capacity="100" data-value="97">
                            <div class="progress-label">Consultas - 97%</div>
                            <div class="progress-scale">
                                <div style="width: 97%;" class="progress-line"></div>
                            </div>
                        </div>
                        <div class="b-progress-bar" data-capacity="100" data-value="86">
                            <div class="progress-label">Banhos - 86%</div>
                            <div class="progress-scale">
                                <div style="width: 86%;" class="progress-line m-2"></div>
                            </div>
                        </div>
                        <div class="b-progress-bar" data-capacity="100" data-value="78">
                            <div class="progress-label">Vendas de Produtos - 78%</div>
                            <div class="progress-scale">
                                <div style="width: 78%;" class="progress-line m-3"></div>
                            </div>
                        </div>
                        <div class="b-progress-bar" data-capacity="100" data-value="65">
                            <div class="progress-label">Entrega - 65%</div>
                            <div class="progress-scale">
                                <div style="width: 65%;" class="progress-line m-4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="gap" style="height: 20px;">
                    </div>
                </div>

                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div class="padding20 border-top">
    <div class="container" id="2">
        <div class="col-md-8 col-md-offset-2 text-center space50">
            <!--/////////////////////////////////////////////////-->
            <h2>Nossos Serviços</h2>
            <p>Sed dapibus, leo ut placerat bibendum, ligula ligula consectetur eros, sed efficitur justo ex ut risus. Integer nec eros non elit finibus dictum quis sit amet augue.</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="feature-box">
                    <div class="feature-box-icon">
                        <i class="icon-monitor"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4>Banhos</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing metus elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box">
                    <div class="feature-box-icon">
                        <i class="icon-layout"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4>Tosas</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing metus elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box">
                    <div class="feature-box-icon">
                        <i class="icon-cog3"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4>Consultas Veterinarias</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing metus elit.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="space20"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="feature-box">
                    <div class="feature-box-icon">
                        <i class="icon-camera"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4>Fotos</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing metus elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box">
                    <div class="feature-box-icon">
                        <i class="icon-lightbulb"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4>Venda de Produtos</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing metus elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box">
                    <div class="feature-box-icon">
                        <i class="icon-strategy"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4>Entrega Domiciliar</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing metus elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pattern-grey">
    <div id="stats1" class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="stats1-info">
                    <i class="icon-camera"></i>
                    <p><span class="count count1">499</span></p>
                    <h2>Fotos Tiradas</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="stats1-info">
                    <i class="icon-lock"></i>
                    <p><span class="count count1">1123</span></p>
                    <h2>Novos Membros</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="stats1-info">
                    <i class="icon-trophy"></i>
                    <p><span class="count count1">187</span></p>
                    <h2>Competições</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="stats1-info">
                    <i class="icon-telescope"></i>
                    <p><span class="count count1">923</span></p>
                    <h2>Vagas de Trabalho</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="border-top padding80">
    <div class="container home-blog" id="5">
        <div class="text-center space40">
            <h2 class="title uppercase">Postagens mais recentes</h2>
            <p>Sed laoreet libero eget tempus blandit praesent eu erat sed sem facilisis rutrum metus<br>facilisis eros justo non ipsum aliquam lacinia non eu ex.</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="hb-info">
                    <div class="hb-thumb">
                        <img src="~/images/blog/1.jpg" class="img-responsive" alt="" />
                        <div class="date-meta">
                            09<span>Out.</span>2016
                        </div>
                    </div>
                    <h4><a href="#">O poder animal</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat mi tellus, euismod viverra dolor ultrices sit amet.</p>
                    <a href="#" class="readmore">Leia mais...</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="hb-info">
                    <div class="hb-thumb">
                        <img src="~/images/blog/2.jpg" class="img-responsive" alt="" />
                        <div class="date-meta">
                            05<span>Set.</span>2016
                        </div>
                    </div>
                    <h4><a href="#">Juventude</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat mi tellus, euismod viverra dolor ultrices sit amet.</p>
                    <a href="#" class="readmore">Leia mais...</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="hb-info">
                    <div class="hb-thumb">
                        <img src="~/images/blog/3.jpg" class="img-responsive" alt="" />
                        <div class="date-meta">
                            10<span>Julho</span>2016
                        </div>
                    </div>
                    <h4><a href="#">O coração de fotografo</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque volutpat mi tellus, euismod viverra dolor ultrices sit amet.</p>
                    <a href="#" class="readmore">Leia mais...</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="border-top"></div>

<div class="container home-blog padding80">
    <div class="text-center space40" id="6">
        <h2 class="title uppercase">Produtos recentes</h2>
    </div>
    <div class="row">
        <ul class="shop-grid">
            <li>
                <div class="product">
                    <div class="text-center">
                        <div class="product-thumbnail">
                            <img src="~/images/shop/3.jpg" class="img-responsive" alt="">
                            <div class="product-overlay">
                                <a class="product-overlay-link" href="#"><i class="fa fa-search-plus"></i></a>
                                <a class="product-overlay-cart" href="#"><i class="fa fa-cart-plus"></i></a>
                            </div>
                        </div>
                        <h3 class="product-title"><a href="#">Coleira Laranja</a></h3>
                        <span class="product-price">R$ 69.99</span>
                        <a href="#" class="button btn btn-md btn-radius btn-center color2 btn-radius add_to_cart_button">Add to cart</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="product">
                    <span class="badge blue"><span>50%</span><br>Off</span>
                    <div class="text-center">
                        <div class="product-thumbnail">
                            <img src="~/images/shop/2.jpg" class="img-responsive" alt="">
                            <div class="product-overlay">
                                <a class="product-overlay-link" href="#"><i class="fa fa-search-plus"></i></a>
                                <a class="product-overlay-cart" href="#"><i class="fa fa-cart-plus"></i></a>
                            </div>
                        </div>
                        <h3 class="product-title"><a href="#">Kit Roupa Canina</a></h3>
                        <span class="product-price">R$ 119.99</span>
                        <a href="#" class="button btn btn-md btn-radius btn-center color2 btn-radius add_to_cart_button">Add to cart</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="product">
                    <div class="text-center">
                        <div class="product-thumbnail">
                            <img src="~/images/shop/1.jpg" class="img-responsive" alt="">
                            <div class="product-overlay">
                                <a class="product-overlay-link" href="#"><i class="fa fa-search-plus"></i></a>
                                <a class="product-overlay-cart" href="#"><i class="fa fa-cart-plus"></i></a>
                            </div>
                        </div>
                        <h3 class="product-title"><a href="#">Ração Tasty Chunky</a></h3>
                        <span class="product-price">R$ 39.99</span>
                        <a href="#" class="button btn btn-md btn-radius btn-center color2 btn-radius add_to_cart_button">Add to cart</a>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>

<div class="border-top"></div>
<div class="container container-fluid no-padding" id="7">
    <div>
        <div class="text-center">
            <h2 class="title uppercase">Contate-nos</h2>
            <p>Sed laoreet libero eget tempus blandit praesent eu erat sed sem facilisis rutrum metus<br>facilisis eros justo non ipsum aliquam lacinia non eu ex.</p>
        </div>
        <div class="space40"></div>

        <div class="col-md-6 full-contact">

            <h3 class="no-margin">Informação de contato</h3>
            <div class="space20"></div>
            <ul class="contact-info">
                <li>
                    <p><strong><i class="fa fa-map-marker"></i> Endereço:</strong> R. Marina Frutuoso, 720 - Centro - Jaraguá do Sul - SC</p>
                </li>
                <li>
                    <p><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:petshopjds@gmail.com">petshopjds@gmail.com</a></p>
                </li>
                <li>
                    <p><strong><i class="fa fa-phone"></i> Telefone:</strong> +55 (47) 5678-9101</p>
                </li>
                <li>
                    <p><strong><i class="fa fa-print"></i> Fax:</strong> +55 (47) 5678-9102</p>
                </li>
            </ul>

        </div>
        <div class="col-md-6 no-padding clearfix">
            <div id="map" style="height: 500px; width: 100%;"></div>
        </div>
    </div>
    <script>
        function initMap() {
            var uluru = { lat: -26.4933104, lng: -49.0763121 };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYdSPWp5IinU5mY5T7_Jp-MTnpfNcGkC0&callback=initMap">
    </script>
</div>