@{
    ViewBag.Title = "Enviar Email";
}

<div class="container padding-top-70">

    @{
        try {
            //parameters to send email
            const string Email = "petshopjds@gmail.com";

            //Reading values from form collection (Querystring) and assigning values to parameters
            string subject = Request["EmailSubject"].ToString();
            string body = Request["EMailBody"].ToString();
            //Configuring webMail class to send emails
            WebMail.SmtpServer = "smtp.gmail.com"; //gmail smtp server
            WebMail.SmtpPort = 587; //gmail port to send emails
            WebMail.SmtpUseDefaultCredentials = true;
            WebMail.EnableSsl = true; //sending emails with secure protocol
            WebMail.UserName = Email; //EmailId used to send emails from application
            WebMail.Password = "qwe12345.";
            WebMail.From = Email; //email sender email address.

            //Sending email
            WebMail.Send(to: Email, subject: subject, body: body, isBodyHtml: true);
            <br />
                <div class="text-success">
                    Email enviado com sucesso.
                </div>
        } catch (Exception) {
            <div class="text-danger">
                Problema enviando email, favor verificar detalhes do servidor gmail.
            </div>
        }
    }
</div>
