@model IEnumerable<PetShopJS.Models.Compra>

@{
    ViewBag.Title = "Compras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container padding-top-70">

    <h2>Compras</h2>

    @Html.Partial("_PartialIndex")
    
</div>