@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-4dh28n');
	src:url('fonts/icomoon.eot?#iefix-4dh28n') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-4dh28n') format('truetype'),
		url('fonts/icomoon.woff?-4dh28n') format('woff'),
		url('fonts/icomoon.svg?-4dh28n#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mobile:before {
	content: "\e000";
}
.icon-laptop:before {
	content: "\e001";
}
.icon-desktop:before {
	content: "\e002";
}
.icon-tablet:before {
	content: "\e003";
}
.icon-phone:before {
	content: "\e004";
}
.icon-document:before {
	content: "\e005";
}
.icon-documents:before {
	content: "\e006";
}
.icon-search:before {
	content: "\e007";
}
.icon-clipboard:before {
	content: "\e008";
}
.icon-newspaper:before {
	content: "\e009";
}
.icon-notebook:before {
	content: "\e00a";
}
.icon-book-open:before {
	content: "\e00b";
}
.icon-browser:before {
	content: "\e00c";
}
.icon-calendar:before {
	content: "\e00d";
}
.icon-presentation:before {
	content: "\e00e";
}
.icon-picture:before {
	content: "\e00f";
}
.icon-pictures:before {
	content: "\e010";
}
.icon-video:before {
	content: "\e011";
}
.icon-camera:before {
	content: "\e012";
}
.icon-printer:before {
	content: "\e013";
}
.icon-toolbox:before {
	content: "\e014";
}
.icon-briefcase:before {
	content: "\e015";
}
.icon-wallet:before {
	content: "\e016";
}
.icon-gift:before {
	content: "\e017";
}
.icon-bargraph:before {
	content: "\e018";
}
.icon-grid:before {
	content: "\e019";
}
.icon-expand:before {
	content: "\e01a";
}
.icon-focus:before {
	content: "\e01b";
}
.icon-edit:before {
	content: "\e01c";
}
.icon-adjustments:before {
	content: "\e01d";
}
.icon-ribbon:before {
	content: "\e01e";
}
.icon-hourglass:before {
	content: "\e01f";
}
.icon-lock:before {
	content: "\e020";
}
.icon-megaphone:before {
	content: "\e021";
}
.icon-shield:before {
	content: "\e022";
}
.icon-trophy:before {
	content: "\e023";
}
.icon-flag:before {
	content: "\e024";
}
.icon-map:before {
	content: "\e025";
}
.icon-puzzle:before {
	content: "\e026";
}
.icon-basket:before {
	content: "\e027";
}
.icon-envelope:before {
	content: "\e028";
}
.icon-streetsign:before {
	content: "\e029";
}
.icon-telescope:before {
	content: "\e02a";
}
.icon-gears:before {
	content: "\e02b";
}
.icon-key:before {
	content: "\e02c";
}
.icon-paperclip:before {
	content: "\e02d";
}
.icon-attachment:before {
	content: "\e02e";
}
.icon-pricetags:before {
	content: "\e02f";
}
.icon-lightbulb:before {
	content: "\e030";
}
.icon-layers:before {
	content: "\e031";
}
.icon-pencil:before {
	content: "\e032";
}
.icon-tools:before {
	content: "\e033";
}
.icon-tools-2:before {
	content: "\e034";
}
.icon-scissors:before {
	content: "\e035";
}
.icon-paintbrush:before {
	content: "\e036";
}
.icon-magnifying-glass:before {
	content: "\e037";
}
.icon-circle-compass:before {
	content: "\e038";
}
.icon-linegraph:before {
	content: "\e039";
}
.icon-mic:before {
	content: "\e03a";
}
.icon-strategy:before {
	content: "\e03b";
}
.icon-beaker:before {
	content: "\e03c";
}
.icon-caution:before {
	content: "\e03d";
}
.icon-recycle:before {
	content: "\e03e";
}
.icon-anchor:before {
	content: "\e03f";
}
.icon-profile-male:before {
	content: "\e040";
}
.icon-profile-female:before {
	content: "\e041";
}
.icon-bike:before {
	content: "\e042";
}
.icon-wine:before {
	content: "\e043";
}
.icon-hotairballoon:before {
	content: "\e044";
}
.icon-globe:before {
	content: "\e045";
}
.icon-genius:before {
	content: "\e046";
}
.icon-map-pin:before {
	content: "\e047";
}
.icon-dial:before {
	content: "\e048";
}
.icon-chat:before {
	content: "\e049";
}
.icon-heart:before {
	content: "\e04a";
}
.icon-cloud:before {
	content: "\e04b";
}
.icon-upload:before {
	content: "\e04c";
}
.icon-download:before {
	content: "\e04d";
}
.icon-target:before {
	content: "\e04e";
}
.icon-hazardous:before {
	content: "\e04f";
}
.icon-piechart:before {
	content: "\e050";
}
.icon-speedometer:before {
	content: "\e051";
}
.icon-global:before {
	content: "\e052";
}
.icon-compass:before {
	content: "\e053";
}
.icon-lifesaver:before {
	content: "\e054";
}
.icon-clock:before {
	content: "\e055";
}
.icon-aperture:before {
	content: "\e056";
}
.icon-quote:before {
	content: "\e057";
}
.icon-scope:before {
	content: "\e058";
}
.icon-alarmclock:before {
	content: "\e059";
}
.icon-refresh:before {
	content: "\e05a";
}
.icon-happy:before {
	content: "\e05b";
}
.icon-sad:before {
	content: "\e05c";
}
.icon-facebook:before {
	content: "\e05d";
}
.icon-twitter:before {
	content: "\e05e";
}
.icon-googleplus:before {
	content: "\e05f";
}
.icon-rss:before {
	content: "\e060";
}
.icon-tumblr:before {
	content: "\e061";
}
.icon-linkedin:before {
	content: "\e062";
}
.icon-dribbble:before {
	content: "\e063";
}
.icon-download2:before {
	content: "\e600";
}
.icon-chat2:before {
	content: "\e601";
}
.icon-archive2:before {
	content: "\e602";
}
.icon-user:before {
	content: "\e603";
}
.icon-users:before {
	content: "\e604";
}
.icon-archive3:before {
	content: "\e605";
}
.icon-earth:before {
	content: "\e606";
}
.icon-location2:before {
	content: "\e607";
}
.icon-contract2:before {
	content: "\e608";
}
.icon-mobile2:before {
	content: "\e609";
}
.icon-screen:before {
	content: "\e60a";
}
.icon-mail2:before {
	content: "\e60b";
}
.icon-support:before {
	content: "\e60c";
}
.icon-help2:before {
	content: "\e60d";
}
.icon-videos:before {
	content: "\e60e";
}
.icon-pictures2:before {
	content: "\e60f";
}
.icon-link2:before {
	content: "\e610";
}
.icon-search2:before {
	content: "\e611";
}
.icon-cog2:before {
	content: "\e612";
}
.icon-trashcan:before {
	content: "\e613";
}
.icon-pencil2:before {
	content: "\e614";
}
.icon-info:before {
	content: "\e615";
}
.icon-article:before {
	content: "\e616";
}
.icon-clock2:before {
	content: "\e617";
}
.icon-photoshop:before {
	content: "\e618";
}
.icon-illustrator:before {
	content: "\e619";
}
.icon-star2:before {
	content: "\e61a";
}
.icon-heart2:before {
	content: "\e61b";
}
.icon-bookmark:before {
	content: "\e61c";
}
.icon-file2:before {
	content: "\e61d";
}
.icon-feed:before {
	content: "\e61e";
}
.icon-locked:before {
	content: "\e61f";
}
.icon-unlocked:before {
	content: "\e620";
}
.icon-refresh2:before {
	content: "\e621";
}
.icon-list:before {
	content: "\e622";
}
.icon-share2:before {
	content: "\e623";
}
.icon-archive4:before {
	content: "\e624";
}
.icon-images:before {
	content: "\e625";
}
.icon-images2:before {
	content: "\e626";
}
.icon-pencil22:before {
	content: "\e627";
}
.icon-eye2:before {
	content: "\e064";
}
.icon-paper-clip:before {
	content: "\e065";
}
.icon-mail3:before {
	content: "\e066";
}
.icon-toggle:before {
	content: "\e067";
}
.icon-layout:before {
	content: "\e069";
}
.icon-link3:before {
	content: "\e06a";
}
.icon-bell2:before {
	content: "\e06b";
}
.icon-lock2:before {
	content: "\e06c";
}
.icon-unlock:before {
	content: "\e06d";
}
.icon-ribbon2:before {
	content: "\e06e";
}
.icon-image2:before {
	content: "\e06f";
}
.icon-signal2:before {
	content: "\e070";
}
.icon-target22:before {
	content: "\e071";
}
.icon-clipboard2:before {
	content: "\e072";
}
.icon-clock22:before {
	content: "\e073";
}
.icon-watch:before {
	content: "\e074";
}
.icon-air-play:before {
	content: "\e075";
}
.icon-camera22:before {
	content: "\e076";
}
.icon-video2:before {
	content: "\e077";
}
.icon-disc:before {
	content: "\e078";
}
.icon-printer22:before {
	content: "\e079";
}
.icon-monitor:before {
	content: "\e07a";
}
.icon-server:before {
	content: "\e07b";
}
.icon-cog3:before {
	content: "\e07c";
}
.icon-heart22:before {
	content: "\e07d";
}
.icon-paragraph:before {
	content: "\e07e";
}
.icon-align-justify:before {
	content: "\e07f";
}
.icon-align-left2:before {
	content: "\e080";
}
.icon-align-center:before {
	content: "\e081";
}
.icon-align-right2:before {
	content: "\e082";
}
.icon-book2:before {
	content: "\e083";
}
.icon-layers2:before {
	content: "\e084";
}
.icon-stack:before {
	content: "\e085";
}
.icon-stack-2:before {
	content: "\e086";
}
.icon-paper:before {
	content: "\e087";
}
.icon-paper-stack:before {
	content: "\e088";
}
.icon-search22:before {
	content: "\e089";
}
.icon-zoom-in:before {
	content: "\e08a";
}
.icon-zoom-out:before {
	content: "\e08b";
}
.icon-reply2:before {
	content: "\e08c";
}
.icon-circle-plus:before {
	content: "\e08d";
}
.icon-circle-minus:before {
	content: "\e0b7";
}
.icon-circle-check:before {
	content: "\e0b8";
}
.icon-circle-cross:before {
	content: "\e0b9";
}
.icon-square-plus:before {
	content: "\e0ba";
}
.icon-square-minus:before {
	content: "\e0bb";
}
.icon-square-check:before {
	content: "\e0bc";
}
.icon-square-cross:before {
	content: "\e0c0";
}
.icon-microphone:before {
	content: "\e0c1";
}
.icon-record:before {
	content: "\e0c8";
}
.icon-skip-back:before {
	content: "\e0c9";
}
.icon-rewind:before {
	content: "\e0ca";
}
.icon-play:before {
	content: "\e0cb";
}
.icon-pause:before {
	content: "\e0cc";
}
.icon-stop:before {
	content: "\e0cd";
}
.icon-fast-forward:before {
	content: "\e0ce";
}
.icon-skip-forward:before {
	content: "\e0cf";
}
.icon-shuffle2:before {
	content: "\e0d0";
}
.icon-repeat:before {
	content: "\e0d1";
}
.icon-folder2:before {
	content: "\e0d2";
}
.icon-umbrella:before {
	content: "\e0d3";
}
.icon-moon2:before {
	content: "\e0d4";
}
.icon-thermometer2:before {
	content: "\e0d5";
}
.icon-drop2:before {
	content: "\e0d6";
}
.icon-sun:before {
	content: "\e0d7";
}
.icon-cloud22:before {
	content: "\e0d8";
}
.icon-cloud-upload:before {
	content: "\e0d9";
}
.icon-cloud-download:before {
	content: "\e0da";
}
.icon-upload22:before {
	content: "\e0db";
}
.icon-download22:before {
	content: "\e0dc";
}
.icon-location3:before {
	content: "\e0dd";
}
.icon-location-2:before {
	content: "\e0de";
}
.icon-map2:before {
	content: "\e0df";
}
.icon-battery2:before {
	content: "\e0e0";
}
.icon-head:before {
	content: "\e0e1";
}
.icon-briefcase2:before {
	content: "\e0e2";
}
.icon-speech-bubble:before {
	content: "\e0e3";
}
.icon-anchor2:before {
	content: "\e0e4";
}
.icon-globe2:before {
	content: "\e0e5";
}
.icon-box2:before {
	content: "\e0e6";
}
.icon-reload:before {
	content: "\e0e7";
}
.icon-share3:before {
	content: "\e0e8";
}
.icon-marquee:before {
	content: "\e0e9";
}
.icon-marquee-plus:before {
	content: "\e0ea";
}
.icon-marquee-minus:before {
	content: "\e0ec";
}
.icon-tag2:before {
	content: "\e0ed";
}
.icon-power:before {
	content: "\e0ee";
}
.icon-command:before {
	content: "\e0ef";
}
.icon-alt:before {
	content: "\e0f0";
}
.icon-esc:before {
	content: "\e0f1";
}
.icon-bar-graph2:before {
	content: "\e0f2";
}
.icon-bar-graph-2:before {
	content: "\e0f3";
}
.icon-pie-graph:before {
	content: "\e0f4";
}
.icon-star3:before {
	content: "\e0f5";
}
.icon-arrow-left2:before {
	content: "\e0f7";
}
.icon-arrow-right2:before {
	content: "\e0f9";
}
.icon-arrow-up2:before {
	content: "\e0fa";
}
.icon-arrow-down2:before {
	content: "\e0fb";
}
.icon-volume:before {
	content: "\e0fc";
}
.icon-mute:before {
	content: "\e0fd";
}
.icon-content-right:before {
	content: "\e103";
}
.icon-content-left:before {
	content: "\e104";
}
.icon-grid2:before {
	content: "\e105";
}
.icon-grid-2:before {
	content: "\e106";
}
.icon-columns:before {
	content: "\e107";
}
.icon-loader:before {
	content: "\e108";
}
.icon-bag:before {
	content: "\e109";
}
.icon-ban:before {
	content: "\e10a";
}
.icon-flag22:before {
	content: "\e10b";
}
.icon-trash2:before {
	content: "\e10c";
}
.icon-expand2:before {
	content: "\e110";
}
.icon-contract:before {
	content: "\e111";
}
.icon-maximize:before {
	content: "\e112";
}
.icon-minimize:before {
	content: "\e113";
}
.icon-plus2:before {
	content: "\e114";
}
.icon-minus2:before {
	content: "\e115";
}
.icon-check2:before {
	content: "\e116";
}
.icon-cross2:before {
	content: "\e117";
}
.icon-move:before {
	content: "\e118";
}
.icon-delete:before {
	content: "\e119";
}
.icon-menu2:before {
	content: "\e120";
}
.icon-archive5:before {
	content: "\e121";
}
.icon-inbox2:before {
	content: "\e122";
}
.icon-outbox:before {
	content: "\e123";
}
.icon-file:before {
	content: "\e124";
}
.icon-file-add:before {
	content: "\e125";
}
.icon-file-subtract:before {
	content: "\e126";
}
.icon-help3:before {
	content: "\e127";
}
.icon-open:before {
	content: "\e128";
}
.icon-ellipsis:before {
	content: "\e129";
}
.icon-uni9E:before {
	content: "\9e";
}
.icon-uniB5:before {
	content: "\b5";
}
.icon-uniB7:before {
	content: "\b7";
}
