@model IEnumerable<PetShopJS.Models.Estado>

@{
    ViewBag.Title = "Estados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container padding-top-70">

    <h2>Estados</h2>
    @Html.Partial("_PartialIndex")
    
</div>