@model IEnumerable<PetShopJS.Models.Produto_Empresa>

@{
    ViewBag.Title = "Produto - Empresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Produto - Empresa</h2>
@Html.Partial("_PartialIndex")