@model IEnumerable<PetShopJS.Models.Produto_Empresa>

@{
    ViewBag.Title = "Produto - Empresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container padding-top-70">

    <h2>Produto - Empresa</h2>
    @Html.Partial("_PartialIndex")
    
</div>