@model IEnumerable<PetShopJS.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container padding-top-70">

    <h2>Clientes</h2>

    @Html.Partial("_PartialIndex")
    
</div>