@model IEnumerable<PetShopJS.Models.Fabricante>

@{
    ViewBag.Title = "Fabricantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container padding-top-70">

    <h2>Fabricantes</h2>
    @Html.Partial("_PartialIndex")
    
</div>