@model IEnumerable<PetShopJS.Models.Condicao>

@{
    ViewBag.Title = "Condições";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container padding-top-70">

    <h2>Condições</h2>
    @Html.Partial("_PartialIndex")
    
</div>