@model IEnumerable<PetShopJS.Models.Forma_Pagamento>

@{
    ViewBag.Title = "Formas Pagamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container padding-top-70">

    <h2>Formas Pagamento</h2>
    @Html.Partial("_PartialIndex")

</div>