@model IEnumerable<PetShopJS.Models.Forma_Pagamento>

@{
    ViewBag.Title = "Formas Pagamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Formas Pagamento</h2>
@Html.Partial("_PartialIndex")
