@model IEnumerable<PetShopJS.Models.Empresa>

@{
    ViewBag.Title = "Empresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container padding-top-70">

    <h2>Empresas</h2>
    @Html.Partial("_PartialIndex")
    
</div>