@model IEnumerable<PetShopJS.Models.Animal>

@{
    ViewBag.Title = "Animais";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container padding-top-70">

    <h2>Animais</h2>

    @Html.Partial("_PartialIndex")
    
</div>