@model IEnumerable<PetShopJS.Models.Produto>

@{
    ViewBag.Title = "Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container padding-top-70">

    <h2>Produtos</h2>
    @Html.Partial("_PartialIndex")

</div>